*{
    margin:0; 
    padding:0;
} 
body{
    background-color:#e9ecf2;
    font-family: 'Roboto Slab', serif;
}
.container {
    width: 660px;
    margin: 0 auto;
   
  }

/* header*/

header{
    background-color: #64294d;
}
#site-logo{
    color: #dfb7de;
    font-size:1.4em;
    font-weight:bold;
}
#site-nav { 
    list-style:none;
    display: inline-block;
}
#site-nav li {
    display: inline-block;
}

#site-nav a{ 
    text-decoration: none;
    color:#ffe2fa;
    margin-left:30px;
    } 

#site-nav li a:hover { 
    color:#b9a2b2;
    border-bottom: #64294d 2px solid;

  }

  h2{margin-top: 30px;}
  /*table*/
  #table-cap{font-weight:bold;}

  table,th,td{
    border:solid 2px black;
    padding:2px 6px;
  }
  
  table{ margin-top: 30px;
}